nav.navbar.navbar-inverse.navbar-static-top
	div.container
		div.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target="#topnav")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand#link-home My Name
		div.collapse.navbar-collapse#topnav
			ul.nav.navbar-nav.navbar-right
				li.nav-item
					a.nav-link#link-sign-up Sign up
				li.nav-item
					a.nav-link#link-sign-in Sign in

